.weatherapp {
  margin: 10px 0 20px 0;

  border-radius: 30px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(245, 245, 245) 0%,
    rgba(175, 175, 175) 94%
  );
}
#searchcity {
  padding: 5px;
  left: 20px;
  position: relative;
  background-color: transparent;
}

#currentlocation {
  padding: 5px;
  left: -20px;
  position: relative;
  top: 5px;
  background-color: #b2b2b2;
}

#temp-display {
  color: #ff3366;
  font-size: 150px;
  font-family: "Abel", sans-serif;
}
#celsius,
#fahrenheit {
  color: #ff3366;
  font-size: 30px;
  padding: 5px;
}
.currentday {
  text-align: center;

  padding: 0 0 70px 0;
  margin: 10px 0 20px 0;
  border-radius: 20px 20px 10px 10px;
}

#city,
#currentdate {
  color: #ff3366;
  font-family: "Abel", sans-serif;
  font-size: 38px;
  text-align: center;
}
.weatherinfo {
  color: #ff3366;
  font-family: "Abel", sans-serif;
  font-size: 55px;
}
.weatherinfo::first-letter {
  text-transform: capitalize;
}

.nextdays {
  text-align: center;
  padding: 15px 20px;
  margin: 0;
  border: solid 3px #d4d7dd;
  border-radius: 5px 5px 30px 30px;
}

input {
  background-color: transparent;
  position: static;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.hour {
  font-family: "Abel", sans-serif;
  font-size: 25px;

  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 51, 102, 1) 0%,
    rgba(255, 161, 185, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.searchglass {
  width: 10%;
}
p {
  font-family: "Abel", sans-serif;
}

img {
  width: 40%;
}

.smallpic {
  width: 30%;
}
#units {
  font-size: 28px;
  color: #ff3366;
  position: relative;
  top: -200px;
  right: -140px;
}

#detailstemp {
  position: relative;
  font-size: 18px;
  top: 70px;
  color: #ff3366;
}

li {
  list-style: none;
}

.weatherapp .active {
  color: #ff3366;
  cursor: default;
}

.weatherapp .active:hover {
  text-decoration: none;
}
